display boot/splash.cfg
default linux
prompt 1
timeout 100
F1 boot/splash.txt
F2 boot/splash.cfg

label linux
kernel boot/vmlinuz
append max_loop=255 initrd=boot/initrd.gz init=linuxrc load_ramdisk=1 prompt_ramdisk=0 ramdisk_size=8192 root=/dev/ram0 rw

label text
kernel boot/vmlinuz
append max_loop=255 initrd=boot/initrd.gz init=linuxrc.nox load_ramdisk=1 prompt_ramdisk=0 ramdisk_size=8192 root=/dev/ram0 rw

label single
kernel boot/vmlinuz
append max_loop=255 initrd=boot/initrd.gz init=linuxrc.single load_ramdisk=1 prompt_ramdisk=0 ramdisk_size=8192 root=/dev/ram0 rw

label memtest
kernel boot/memtest
